*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    --background: #efefef;
    --background2: #ebebeb;
    --bg-skill: #f3f3f3;
    --text: #383838;
    --text2: #5a5a5a;
    --bg-button: #494949;
}

html[data-theme="dark"]{
    --background:#383838;
    --background2: #272727;
    --bg-skill: #353535;
    --text: #efefef;
    --text2: #c2c2c2;
    --bg-button: #bebebe;
}

body{ 
    background-color: var(--background); 
    color: var(--text);
    transition: background 0.35s linear;
}

.center{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

header{
    display: flex;
    justify-content: center;
    height: 70px;
    box-shadow: 0px 8px 6px -2px rgba(0,0,0,0.15);
    position: fixed;
}

nav{ 
    display: flex;
    position: fixed;
    z-index: 3;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(110%);
    background-color: rgba(17, 25, 40, 0);
    height: 80px;
    box-shadow: 0px 8px 6px -2px rgba(0,0,0,0.15); 
}

nav img{ width: 140px; transition: 0.25s; cursor: pointer;}

nav img:hover { opacity: 0.9; }

.items-nav a{
    color: var(--text);
    margin: 0 10px 0 10px;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
}

.items-nav a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #ed3654;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.25s ease-in-out;
}

.items-nav a:hover{ color: #ed3654; }

.items-nav a:hover::after{ width: 98%; }

.button-theme{ 
    float: right;
    align-items: center; 
    margin-top: -4px;
    margin-left: 10px;
}

.container{ margin-top: 33vh; }

.title h1{
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    width: 100%;
}
.title a{
    font-weight: 700;
    text-decoration: none;
    color: #ed3654;
    transition: all 0.3s ease;
}

.title a:hover{ text-shadow: 0 0 7px; }

.title p{
    margin-top: 5vh;
    text-align: center;
    letter-spacing: 5px;
}

.links{ 
    margin-top: 4vh;
    display: flex; 
    justify-content: center;
}

.links button{
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 18px;
    background-color: #ed3654;
    padding: 10px 30px;
    margin-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color:#efefef;
    transition: all 0.3s ease;
    filter: grayscale(100%);
}

.links a img{ 
    width: 35px; 
    margin: 0 10px 0 10px; 
    transition: all 0.3s ease;
    filter: grayscale(100%); 
}

.links a img:hover, .links button:hover{
    filter: grayscale(0%);
    text-shadow: 0 0 10px;
    transform: translateY(-5px);
}

.scroll { margin: 22vh auto 15vh; }

.about-me{
    background-color: var(--background2);
    margin-top: 3vh;
    margin-bottom: 10vh;
}

.about-me .center{
    flex-direction: column;
    align-items: center;
}

.about-me h1{
    margin-top: 12vh;
    margin-bottom: 12vh;
    font-size: 40px;
}

.myself{
    display: flex;
    margin-bottom: 16vh;
}

.myself p{
    font-size: 18px;
    width: 520px;
    margin-top: 10px;
    margin-left: 25vh;
    text-align: end;
}

.photo{
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
}

.photo::before{
    content: '';
    position: absolute;
    inset: -50px 60px;
    background: linear-gradient(315deg, #ed3654, #ae00ff);
    transition: 0.25s;
    animation: animar 6s linear infinite;
}

@keyframes animar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.photo:hover::before{ inset: -10px 0px; }

.photo::after{
    content: '';
    position: absolute;
    inset: 5px;
    background: var(--background);
    border-radius: 50%;
    z-index: 1;
}

.photo div{
    position: absolute;
    inset: 5px;
    z-index: 2;
    border-radius: 50%;
}

.photo div img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.skills { margin: 10vh 0; }

.skills .center{
    flex-direction: column;
    align-items: center;
}

.skills .center h1{ font-size: 40px; }

.skills .center>p{
    margin-top: 2vh;
    margin-bottom: 2vh;
    opacity: 0.5;
}

.box-skills{
    width: 850px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.05);
}
.box-skills p{
    padding: 20px;
    margin: auto;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: 0.35s;
}

.hard-skills{
    margin-top: 55px;
    margin-bottom: 45px;
    padding: 0 5%;
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-flow: row wrap;
}

.card1, .card2, .card3, .card4, .card5, .card6{
    padding: 35px;
    margin-top: 10px;
    color: #ed3654;
    box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.05);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.40s ease-in-out;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover, .card6:hover{
    transform: translateY(-15px);
}
.card1 img, .card2 img, .card3 img, .card4 img, .card5 img, .card6 img{ width: 70px; }







.projects .center{
    margin: 500px 0;
}





























section.footer{
    margin: 1000px 0;
}

@media screen and (max-width: 1240px){
    .center{
        padding: 0 2%;
    }
    .items-nav a{
        margin: 0 3x 0 3px;
        font-size: 13px;
    }
    nav img{
        width: 120px;
    }
}

@media screen and (max-width: 960px){
    .about-me h1{
        margin-bottom: 60px;
        font-size: 40px;
    }
    .myself{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .myself p{
        text-align: center;
        width: 80%;
        margin: 5vh 0;
    }
    .input{
        padding: 10px 15px;
        width: 70%;
        height: calc(25vh * 2);
    }
    .box-skills{
        width: 80%;
        height: 100px;
    }
}